# Build system & project files
*.mak
*.mak.vpc_crc
*.vpc_crc
*.vpc.*
*.project
*.vcxproj*
*.sln
source-engine.sln
.depproj/

# Build output & intermediate files
*obj_*
*.obj
*.pch
*.log
*.idb
*.pdb
*.rc
*.bin
*.exp
*.ilk
*.tlog/
Debug/
Debug_*/
Release/
Release_*/
build*/
.cache/
.ccache/
waf3*/

# Waf build system
.waf*
.lock-waf*

# IDE & editor files
.vs/
.vscode/

# Python artifacts
__pycache__/
*.pyc

# Platform-specific/system files
.DS_Store

# Game/engine-specific files
ValveETWProviderEvents.h
game/client/*/client.lib
game/server/*/server.lib
deprecated/

# Mod/custom content
hl2mp/
hl1/
hl2/
episodic/
dod/
portal/
tf2/
cstrike/

